body {
    background-color: blue;
    text-align: center;
  }
  .container pt-4{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    
   
}
  .col-sm-2{
  
    color: #fff;
  }
  .col-sm-4{
    color: #fff;
  }
  
  
  hr{
    border: blue;
  }

   ::hover{
    background: #edeef0;
}
